.block {
    width: 100%;
    padding-top: 1rem;
    background-color: $white;
    border-radius: .4rem;
    box-shadow: $shadow;
}

.block__title {
    margin-bottom: .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    color: $darkGrey;
    padding: 0 1rem;
    &.block__title_small {
        font-size: 1.2rem;
    }
}

.block__main {
    background-color: $bGrey;
    padding: 0 1rem;
    padding-bottom: 1rem;
}
