.button {
    max-width: 12rem;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 1rem;
    margin: .4rem .4rem;
    border: none;
    border-radius: .3rem;
    color: $white;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    &.button_red {
        background: $red;
    }
    &.button_green {
        background: $green;
    }
    &.button_darkGreen {
        background: $darkGreen;
    }
    &.button_blue {
        background: $blue;
    }
    &.button_orange {
        background: $orange;
    }
    &.button_transparent {
        background: transparent;
        color: $darkGreen;
        padding: .3em 1em;
    }
    &.br-1 {
        border-radius: 1rem;
    }
    &.border_darkGreen {
        border: 1px solid $darkGreen;
    }
    &.center {
        margin-right: auto;
        margin-left: auto;
        justify-content: center;
    }
}

.button__icon {
    margin: 0 .2rem;
}

.disabled {
    opacity: .5;
    cursor: not-allowed;
}