.button {
    border: none;
    color: $white;
    text-decoration: none;
    padding: .7em 1.5em;
    outline: none;
}

.br-10 {
    border-radius: 1rem;
}

.br-3 {
    border-radius: 0.3rem;
}

.button_green {
    background: $green;
}

.button_blue {
    background: $blue;
}

.button_orange {
    background: $orange;
}

.button_transparent {
    background: transparent;
    color: $green
}

.border_green {
    border: 1px solid $green;
}

.listContainer {
    width: 100%;
    max-width: 400px;
    position: relative;
}

.list {
    list-style: none;
    padding: 0;
    position: absolute;
    border: 1px solid grey;
    background: white;
    left: 129px;
    top: -34px;
}

.list__item {
   padding: 0.5rem 1rem;
}

.list__item a{
   text-decoration: none;
   color: #000;
}

.input {
    padding: 0.4rem 0.6rem;
    border: 1px solid grey;
}

.hidden {
    display: none;
}