.row {
    display: flex;
    align-items: center;
    padding: .5rem 0;
    &.row_bBorder {
        border-bottom: 1px solid $textGrey;
    }
    &.row_column {
        flex-direction: column;
        align-items: stretch;
    }
    &.row_between {
        justify-content: space-between;
    }
    &.row_wrap {
        flex-wrap: wrap;
    }
    &.row_center {
        justify-content: center;
    }
}

.row__title {
    font-size: 1.6rem;
    font-weight: bold;
    color: $darkGrey;
    &.row__title_small {
        font-size: 1.1rem;
    }
    &.row__title_fwNone {
        font-weight: normal;
    }
}