.list {
    width: 240px;
    padding: 0;
    position: absolute;
    border: 1px solid grey;
    border-radius: .3rem;
    background: white;
    right: -240px;
    top: 0;
    z-index: 999;
}

.list__item {
    padding: 0 1rem;
    line-height: 40px;
    color: $textGrey;
    &.bb {
        border-bottom: 1px solid $textGrey;
    }
    &.selected {
        background: $blue;
        color: $white
    }
}

.hidden {
    display: none;
}