.list {
    width: max-content;
    min-width: 155px;
    padding: 0;
    position: absolute;
    border: 1px solid grey;
    border-radius: 0.3125rem;
    background: white;
    left: 100%;
    top: 0;
    z-index: 999;
}

.list__item {
    padding: 0 1rem;
    line-height: 28px;
    color: $textGrey;
    &.bb {
        border-bottom: 1px solid $textGrey;
    }
    &.selected {
        background: $blue;
        color: $white
    }
}

.hidden {
    display: none;
}