.stat {
    width: 100%;
    max-width: 200px;
    height: 5.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: $white;
    border: none;
    border-radius: .5rem;
    box-shadow: $shadow;
    padding: .8rem;
    margin: .4rem;
}

.stat__title {
    color: $darkGrey;
    padding-left: 3px;
}

.stat__text {
    color: $textGrey;
    font-size: 2.4rem;
}