#tableRoot {
    padding-bottom: 1rem;
}

#tablePaper {
    box-shadow: none;
}

#tableContainer {
    overflow-x: unset !important;
}

#table__head {
    background-color: $bGrey;
}

#table__head tr th {
    font-weight: bold;
    font-size: 0.875rem;
    color: $darkGrey
}

#table__head tr td, #table__head tr th {
    padding-left: 5px;
    padding-right: 5px;
}

#table__head tr th .MuiIconButton-label {
    padding-left: 1rem;
}

#table__body tr td, #table__body tr th {
    padding: 4px 5px;
    font-size: .75rem;
}

#table__body tr td .MuiIconButton-label {
    padding-left: 1rem;
}

#toolbar {
    display: flex;
    justify-content: space-between;
    min-height: unset;
    height: 40px;
    margin-bottom: 10px;
}

.paginationInfo {
    padding: 0 1rem;
    flex-basis: 40%;
    text-align: left;
    font-size: .75rem;
    color: $textGrey;
}

#bottomTablePagination .MuiToolbar-regular {
    padding: 0 .2rem;
}

#bottomTablePagination .MuiToolbar-regular p.MuiTablePagination-caption {
    display: none;
}

#bottomTablePagination .MuiToolbar-regular .MuiTablePagination-select {
    padding-right: 1.5rem;
}

#bottomTablePagination .MuiToolbar-regular .MuiTablePagination-input {
    margin: 0;
}

#bottomTablePagination .MuiToolbar-regular .MuiTablePagination-selectIcon {
    top: calc(50% - .8rem);
}

#bottomTablePagination .MuiToolbar-regular .MuiTablePagination-actions {
    display: none;
}

#tablePaper .MuiPaginationItem-outlinedPrimary.Mui-selected {
    color: $white;
    background-color: $blue;
    border: none;
}

#tableTitle .row {
    font-size: .75rem;
    color: $textGrey;
}

#tableTitle .MuiTablePagination-root {
    overflow: unset;
}

.emptyRow {
    border-bottom: 1px solid $textGrey;
}

