$white: #fff;

$red: rgb(230, 55, 87);

$green: rgb(0, 210, 122);

$darkGreen: rgb(0, 134, 78);

$blue: rgb(44, 123, 229);;

$orange: rgb(245, 128, 62);

$bGrey: #edf2f9;

$grey: #bdbdbd;

$textGrey: #5e6e82;
